body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 14px;
    margin-right: 80px;
}

.header .text {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 80px;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.left-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 80px;
    gap: 20px;
}

.right-content img {
    height: auto;
    width: 325px;
    margin: 80px;
}

.left-content .bold-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.left-content .text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 12px;
    border: 1px;
    padding: 8px 16px;
    height: fit-content;
    width: fit-content;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

.info img {
    height: auto;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.works {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info .subtext {
    width: 150px;
    height: auto;
    margin-bottom: 80px;
    margin-top: 10px;
}

.second .text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third {
    background-color: #E5E7EB;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.third .text{
    text-align: center;
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;

}

.third .subtext{
    text-align: end;
    margin-right:  390px;
    font-weight: bolder;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.fourth .content   {
    display: flex;
    border: 3px solid #3882F6;
    background-color: #3882F6;
    border-radius: 12px;
    width: 800px;
    height: 100px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.fourth .buttons{
    border: 2px solid #ffffff;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
}

.fourth .text{
    font-size: 20px;
    font-weight: bolder;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}